<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="Hackathon.Boilerplate.Foundation.ContentManagement.DI.ServicesConfigurator, Hackathon.Boilerplate.Foundation.ContentManagement" />
            <configurator type="Hackathon.Boilerplate.Foundation.ContentManagement.DI.GlassMapperServicesConfigurator, Hackathon.Boilerplate.Foundation.ContentManagement" />
        </services>
    </sitecore>
</configuration>