<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
          name="Project.Hackathon"
          description="Hackathon site content"
          dependencies="Foundation.*,Feature.*"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="Helix.Feature.Base">
          <predicate>
            <include name="Tenant" database="master" path="/sitecore/content/Hackathon" />
            <include name="Forms" database="master" path="/sitecore/Forms/Hackathon" />
            <include name="Media" database="master" path="/sitecore/media library/Project/Hackathon" />
            <include name="Theme" database="master" path="/sitecore/media library/Themes/Hackathon" />
            <include name="Templates" database="master" path="/sitecore/templates/Project/Hackathon" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>