<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <sitecore>
        <settings>
            <setting name="NewsLetterListID" value="{57908f05-8f7b-4be4-96d0-007ecff73b40}" />
            <setting name="NewsLetter.ContactAddedPage" value="{137A99F2-219D-4633-9926-ED89FA9CACB0}" />
            <setting name="NewsLetter.ContactUpdatedPage" value="{1A2EFC0F-0564-4B32-B8BA-AF555E442E75}" />
            <setting name="NNewsLetter.ErrorPage" value="{DB73AE80-16F2-4B93-9D69-CFF403BFF232}" />
        </settings>
    </sitecore>
</configuration>