<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <sitecore>
        <settings>
            <setting name="NewsLetter.ListID" value="{780086BC-BFAB-46D2-98AC-6045585C845A}" />
            <setting name="NewsLetter.ContactAddedPage" value="{328E816B-FFA8-421E-BDF7-C1B928E2AD3C}" />
            <setting name="NewsLetter.ContactUpdatedPage" value="{DFF5F47B-4112-4E28-A811-CD6E4E3496BD}" />
            <setting name="NewsLetter.ErrorPage" value="{94DB4887-0422-4D9F-BC54-089393004903}"/>
        </settings>
    </sitecore>
</configuration>